<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container">
    <div class="d-flex justify-content-center mt-4">
      <div class="divs">
        <h1 class="text-center">Calificaciones</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col ">Evaluaciones</th>
              <th scope="col ">Puntaje</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Examen HTML</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Examen CSS</td>
              <td>8</td>
            </tr>
            <tr>
              <td>Examen de JS</td>
              <td>7</td>
            </tr>
            <tr>
              <td>Examen de PHP</td>
              <td>11</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->
<!-- /#wrapper -->
<!--Modal Crear Pasantia-->
<!-- Modal -->

<!--Fin Modal Crear Pasantia-->
