    <!--NAV ADMIN-->

    <nav class="navbar navbar-expand-lg navbar-dark shadow-sm    " style="background-color: #49ABC6;">

        <button class="btn btn-light mobile " id="menu-toggle"><i class="fas fa-bars"></i></button>

        <a href="#" class="text-white">
            <img src="/assets/logoBlanco.png" width="40px" alt="" class="m-1 ml-5"> Menu
        </a>


        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-primary"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ">
                <div class="dropdown">
                    <button class="btn text-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/assets/user.svg" width="35" alt="">
                       Jorge Coronado
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/components/login/login.html">Salir</a>

                    </div>
                </div>


            </ul>

        </div>

    </nav>
    <!--FIN NAV ADMIN-->
