<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="divs">
        <div class="card shadow-sm mr-4 w-100">
          <div class="card-body">
            <h3 class="d-inline card-title">Subir Asignación</h3>
            <br />
            <br />
            <h5>Patrones de diseño.</h5>
            <p>
              Investigar de forma individual el siguiente concepto, Patrones de
              diseño, y crear una presentación powepoint.
            </p>
            <div class="margin">
              <h5 style="margin-left: 25%">Subir Asignación</h5>
              <div class="d-flex justify-content-center">
                <div
                  id="dropContainer"
                  style="border: 1px solid black; height: 30%; width: 50%"
                >
                  Arrastra
                  <p class="mt-4">
                    Permite:
                    <i
                      class="fas fa-file-powerpoint fa-2x p-1"
                      style="background-color: orange"
                    ></i>
                    <i
                      class="fas fa-file-pdf fa-2x p-1"
                      style="background-color: red"
                    ></i>
                    <i
                      class="fas fa-file-word fa-2x p-1"
                      style="background-color: rgba(67, 127, 255, 0.863)"
                    ></i>
                    <i class="fas fa-file-archive fa-2x p-1"></i>
                  </p>
                </div>
              </div>
              <br />
              <div class="d-flex justify-content-center">
                <input type="file " id="fileInput " />
              </div>
              <button
                class="text-white btn btn-group-lg float-right"
                type="submit "
                style="background-color: #49abc6"
              >
                Enviar
              </button>
              <a
                type="button "
                href="index.html "
                name="finalizar "
                class="volver text-white btn btn-group-lg float-left"
                style="background-color: #49abc6"
                >Volver</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->
<!-- /#wrapper -->
<!--Modal Crear Pasantia-->
<!-- Modal -->

<!--Fin Modal Crear Pasantia-->
