<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="recuperar-clave.component.css">
    <script src="https://kit.fontawesome.com/db56b02818.js" crossorigin="anonymous"></script>
    <title>Actualizar contraseña - AIlogic Pasantes</title>
</head>

<body>
    <div class="login">
        <div class="form text-center">
            <div class="mt-4  ">
                <a routerLink="/login"><img src="../../../assets/logo.svg">
                </a>
                <div class=" d-flex justify-content-center mt-3 ">
                    <form class="col-6 mt-4">
                        <p>Ingresa tu nueva contraseña</p>
                        <div class="form-group inputWithIcon">
                            <span><i class="fas fa-lock"></i></span>
                            <input type="password" class="form-control form-control-lg  " id="exampleInputPassword1" placeholder="Nueva contraseña">
                        </div>
                        <div class="form-group inputWithIcon">
                            <span><i class="fas fa-lock"></i></span>
                            <input type="password" class="form-control form-control-lg  " id="exampleInputPassword1" placeholder="Repetir contraseña">
                        </div>
                        <div class=" d-block justify-content-center mt-1 ">

                            <button type="button" class=" button btn btn-primary custom-btn  shadow-lg  ">Actualizar</button>
                            <p class="mt-2"><a routerLink="/login">Volver al inicio</a></p>

                        </div>
                    </form>

                </div>
            </div>
            <div class="vector   position-absolute bottom-0 start-0">

                <img class="img-fluid w-100 hidden-md" width="100%" src="../../../assets/efectoInferior.svg" alt="">


            </div>
        </div>
        <div class="image d-none d-md-block  ">

            <div class="im"></div>
            <!--     <img width="100%" class="h-100" src="/assets/erick.jpg" alt="">-->
        </div>
    </div>

    <script src="https://kit.fontawesome.com/db56b02818.js" crossorigin="anonymous"></script>

</body>

</html>