<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container">
    <h1 class="mt-3">Solicitudes</h1>
    <!--INICIO SOLICITUD-->
    <div id="solicitud">
      <div class="card text-center">
        <div class="card-body">
          <a href="#" class="btn btn-primary float-right ml-2">Aceptar</a>
          <a href="#" class="btn btn-danger float-right">Declinar</a>

          <div class="row">
            <div class="col-xs-2 text-center">
              <img src="/assets/user.svg" class="" alt="" />
              <p class="text-center m-1">
                <a
                  class="text-sm-left text-secondary"
                  href="https://github.com/David-PX"
                >
                  <i class="fab fa-github"></i>
                </a>
                <a
                  href="https://www.linkedin.com/in/david-solano-a766731b0/"
                  class="text-sm-left text-secondary"
                >
                  <i class="fab fa-linkedin"></i>
                </a>
              </p>
            </div>

            <div class="col-xs-3">
              <h5 class="card-title text-sm-left">David Solano</h5>
              <p class="text-sm-left text-secondary">
                desolanocastro@gmail.com
              </p>
              <p class="text-sm-left text-secondary">829-821-0513</p>
            </div>
            <div class="col-xs-3 ml-5">
              <h5 class="card-title text-sm-left">&nbsp;</h5>
              <p class="text-sm-left text-secondary">402-0077109-1</p>
              <p class="text-sm-left text-secondary">26/02/2001</p>
            </div>
            <div class="col-xs-3 ml-5">
              <h5 class="card-title text-sm-left">&nbsp;</h5>
              <p></p>
            </div>
          </div>

          <br />

          <div class="row">
            <div class="col-md-6">
              <button
                class="btn btn-info btn-block"
                type="button"
                data-toggle="collapse"
                data-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                Informacion adicional.
              </button>
              <div class="collapse" id="collapseExample">
                <div class="card mt-3 card-body text-left">
                  <p>
                    <b>Carrera:</b> <br />
                    Desarrollo de Software.
                  </p>
                  <p>
                    <b>¿Cuanto tiempo le falta para terminar su carrera?</b>
                    <br />
                    2 Cuatrimestres.
                  </p>
                  <p>
                    <b>¿Trabaja actualmente?</b> <br />
                    Si
                  </p>
                  <p>
                    <b>¿Por que quiere realizar la pasantia con AI Logic?</b>
                    <br />
                    Porque es una empresa muy competente y puedo aprender muchas
                    cosas nuevas y poner en practica las que ya se y asimismo
                    aportar todo lo que pueda a la empresa dando lo mejor de mi.
                  </p>
                  <hr />
                  <p><a href="">Descargar carta de pasantia.</a></p>
                  <p><a href="">Descargar Curriculum Vitae.</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <button
                class="btn btn-info btn-block"
                type="button"
                data-toggle="collapse"
                data-target="#collapseExample2"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                Auto Evaluaciones.
              </button>
              <div class="collapse" id="collapseExample2">
                <div class="card mt-3 card-body">
                  <h3 class="text-left">Auto evaluaciones</h3>
                  <p class="text-left m-0">HTML</p>
                  <div class="progress m-2">
                    <div
                      class="progress-bar m-2"
                      role="progressbar"
                      aria-valuenow="0"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p class="text-left m-0">CSS</p>
                  <div class="progress m-2">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 25%"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p class="text-left m-0">JAVASCRIPT</p>
                  <div class="progress m-2">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 50%"
                      aria-valuenow="50"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p class="text-left m-0">PHP</p>
                  <div class="progress m-2">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 75%"
                      aria-valuenow="75"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p class="text-left m-0">C#</p>
                  <div class="progress m-2">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%"
                      aria-valuenow="100"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          <span class="float-right">Hace 2 dias</span>
        </div>
      </div>
    </div>
    <!--FIN SOLICITUD-->

    <!--INICIO SOLICITUD-->

    <div id="solicitud" class="mt-4">
      <div class="card text-center">
        <div class="card-body">
          <a href="#" class="btn btn-primary float-right ml-2">Aceptar</a>
          <a href="#" class="btn btn-danger float-right">Declinar</a>

          <div class="row">
            <div class="col-xs-2 text-center">
              <img src="/assets/user5555.png" class="px-3" width="150" alt="" />
              <p class="text-center m-1">
                <a
                  class="text-sm-left text-secondary"
                  href="https://github.com/David-PX"
                >
                  <i class="fab fa-github"></i>
                </a>
                <a
                  href="https://www.linkedin.com/in/david-solano-a766731b0/"
                  class="text-sm-left text-secondary"
                >
                  <i class="fab fa-linkedin"></i>
                </a>
              </p>
            </div>

            <div class="col-xs-3">
              <h5 class="card-title text-sm-left">Alvaro Herrera</h5>
              <p class="text-sm-left text-secondary">alvarolapara@gmail.com</p>
              <p class="text-sm-left text-secondary">111-222-3333</p>
            </div>
            <div class="col-xs-3 ml-5">
              <h5 class="card-title text-sm-left">&nbsp;</h5>
              <p class="text-sm-left text-secondary">111-1234567-1</p>
              <p class="text-sm-left text-secondary">00/00/0000</p>
            </div>
            <div class="col-xs-3 ml-5">
              <h5 class="card-title text-sm-left">&nbsp;</h5>
              <p></p>
            </div>
          </div>

          <br />

          <div class="row">
            <div class="col-md-6">
              <button
                class="btn btn-info btn-block"
                type="button"
                data-toggle="collapse"
                data-target="#collapseExample3"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                Informacion adicional.
              </button>
              <div class="collapse" id="collapseExample3">
                <div class="card mt-3 card-body text-left">
                  <p>
                    <b>Carrera:</b> <br />
                    Desarrollo de Software.
                  </p>
                  <p>
                    <b>¿Cuanto tiempo le falta para terminar su carrera?</b>
                    <br />
                    2 Cuatrimestres.
                  </p>
                  <p>
                    <b>¿Trabaja actualmente?</b> <br />
                    Si
                  </p>
                  <p>
                    <b>¿Por que quiere realizar la pasantia con AI Logic?</b>
                    <br />
                    Porque es una empresa muy competente y puedo aprender muchas
                    cosas nuevas y poner en practica las que ya se y asimismo
                    aportar todo lo que pueda a la empresa dando lo mejor de mi.
                  </p>
                  <hr />
                  <p><a href="">Descargar carta de pasantia.</a></p>
                  <p><a href="">Descargar Curriculum Vitae.</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <button
                class="btn btn-info btn-block"
                type="button"
                data-toggle="collapse"
                data-target="#collapseExample4"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                Auto Evaluaciones.
              </button>
              <div class="collapse" id="collapseExample4">
                <div class="card mt-3 card-body">
                  <h3 class="text-left">Auto evaluaciones</h3>
                  <p class="text-left m-0">HTML</p>
                  <div class="progress m-2">
                    <div
                      class="progress-bar m-2"
                      role="progressbar"
                      aria-valuenow="0"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p class="text-left m-0">CSS</p>
                  <div class="progress m-2">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 25%"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p class="text-left m-0">JAVASCRIPT</p>
                  <div class="progress m-2">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 50%"
                      aria-valuenow="50"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p class="text-left m-0">PHP</p>
                  <div class="progress m-2">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 75%"
                      aria-valuenow="75"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p class="text-left m-0">C#</p>
                  <div class="progress m-2">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 100%"
                      aria-valuenow="100"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          <span class="float-right">Hace 2 dias</span>
        </div>
      </div>
    </div>

    <!--FIN SOLICITUD-->
  </div>
</div>

<!-- /#wrapper -->
<!--Modal Crear Pasantia-->
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Pasantia</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="inputAddress">Nombre</label>
            <input type="text" class="form-control" id="txtNombre" />
          </div>
          <div class="form-group">
            <label for="inputAddress">Cantidad de pasantes</label>
            <input type="number" class="form-control" id="txtCantidad" />
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Desde</label>
              <input type="date" class="form-control" id="txtDesde" />
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Hasta</label>
              <input type="date" class="form-control" id="txtHasta" />
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancelar
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              onclick="CrearCarta()"
              data-dismiss="modal"
            >
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--Fin Modal Crear Pasantia-->

  <!-- Menu Toggle Script -->
</div>
