<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container">
    <div class="d-flex justify-content-center mt-4">
      <div class="divs">
        <div class="size">
          <h3 class="text-center">Asignaciones Grupales</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col ">Asignación</th>
                <th scope="col ">Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a class="text-dark text-center" href="#">UX/UI</a>
                </td>
                <td>26/8/2021</td>
              </tr>
              <tr>
                <td>
                  <a class="text-dark text-center" href="#"
                    >Expresiones Regulares</a
                  >
                </td>
                <td>26/8/2021</td>
              </tr>
              <tr>
                <td>
                  <a
                    class="text-dark text-center"
                    href="/components/Pasantes/AsigRep.html"
                    >Patrones de Diseño</a
                  >
                </td>
                <td>26/8/2021</td>
              </tr>

              <tr>
                <td>
                  <a class="text-dark text-center" href="#">Modelo ISO/OSI </a>
                </td>
                <td>26/8/2021</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->
<!-- /#wrapper -->
<!--Modal Crear Pasantia-->
<!-- Modal -->

<!--Fin Modal Crear Pasantia-->
