<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container">
    <nav class="mt-4">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a
          class="nav-link active"
          id="nav-home-tab"
          data-toggle="tab"
          href="#nav-home"
          role="tab"
          aria-controls="nav-home"
          aria-selected="true"
          >Mi grupo</a
        >
        <a
          class="nav-link"
          id="nav-profile-tab"
          data-toggle="tab"
          href="#nav-profile"
          role="tab"
          aria-controls="nav-profile"
          aria-selected="false"
          >Otros grupos</a
        >
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active"
        id="nav-home"
        role="tabpanel"
        aria-labelledby="nav-home-tab"
      >
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  David Solano
                </button>
              </h2>
            </div>

            <div
              id="collapseOne"
              class="collapse"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <div class="divdetalle float-left p-1">
                  <div class="d-block justify-content-center">
                    <div class="card bg-light">
                      <div class="card-body">
                        <h2>Patrones de Diseño</h2>

                        <h3 class="card-title"></h3>
                        <p>
                          Investigar de forma individual el siguiente concepto,
                          PATRONES DE DISEÑO, y crear una presentacion
                          PowerPoint.
                        </p>
                      </div>
                      <div class="d-flex justify-content-center">
                        <img
                          src="../../assets/ppticon.svg"
                          width="250"
                          height="205"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="divdetalle float-left p-1">
                  <div class="d-block justify-content-center">
                    <div class="card bg-light">
                      <div class="card-body">
                        <h2>Evaluacion al Equipo ALFA</h2>
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Nombre</th>
                              <th scope="col">Puntaje</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>Alvaro</td>
                              <td>9</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Erick</td>
                              <td>
                                <input
                                  type="number"
                                  class="form-control col-3"
                                  value="7"
                                />
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>Roman</td>
                              <td>7</td>
                            </tr>
                            <tr>
                              <th scope="row">4</th>
                              <td>Luis</td>
                              <td>5</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Alvaro Herrera
                </button>
              </h2>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <div class="divdetalle float-left p-1">
                  <div class="d-block justify-content-center">
                    <div class="card bg-light">
                      <div class="card-body">
                        <h2>Patrones de Diseño</h2>

                        <h3 class="card-title"></h3>
                        <p>
                          Investigar de forma individual el siguiente concepto,
                          PATRONES DE DISEÑO, y crear una presentacion
                          PowerPoint.
                        </p>
                      </div>
                      <div class="d-flex justify-content-center">
                        <img
                          src="../../assets/ppticon.svg"
                          width="250"
                          height="205"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="divdetalle float-left p-1">
                  <div class="d-block justify-content-center">
                    <div class="card bg-light">
                      <div class="card-body">
                        <h2>Evaluacion al Equipo ALFA</h2>
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Nombre</th>
                              <th scope="col">Puntaje</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>David</td>
                              <td>9</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Erick</td>
                              <td>
                                <input
                                  type="number"
                                  class="form-control col-3"
                                  value="7"
                                />
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>Roman</td>
                              <td>7</td>
                            </tr>
                            <tr>
                              <th scope="row">4</th>
                              <td>Luis</td>
                              <td>5</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Luis Franco
                </button>
              </h2>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <div class="divdetalle float-left p-1">
                  <div class="d-block justify-content-center">
                    <div class="card bg-light">
                      <div class="card-body">
                        <h2>Patrones de Diseño</h2>

                        <h3 class="card-title"></h3>
                        <p>
                          Investigar de forma individual el siguiente concepto,
                          PATRONES DE DISEÑO, y crear una presentacion
                          PowerPoint.
                        </p>
                      </div>
                      <div class="d-flex justify-content-center">
                        <img
                          src="../../assets/ppticon.svg"
                          width="250"
                          height="205"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="divdetalle float-left p-1">
                  <div class="d-block justify-content-center">
                    <div class="card bg-light">
                      <div class="card-body">
                        <h2>Evaluacion al Equipo ALFA</h2>
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Nombre</th>
                              <th scope="col">Puntaje</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>Alvaro</td>
                              <td>9</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Erick</td>
                              <td>
                                <input
                                  type="number"
                                  class="form-control col-3"
                                  value="7"
                                />
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>Roman</td>
                              <td>7</td>
                            </tr>
                            <tr>
                              <th scope="row">4</th>
                              <td>David</td>
                              <td>5</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseFour"
                  aria-expanded="true"
                  aria-controls="collapseFour"
                >
                  Roman Alcantara
                </button>
              </h2>
            </div>

            <div
              id="collapseFour"
              class="collapse"
              aria-labelledby="headingFour"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <div class="divdetalle float-left p-1">
                  <div class="d-block justify-content-center">
                    <div class="card bg-light">
                      <div class="card-body">
                        <h2>Patrones de Diseño</h2>

                        <h3 class="card-title"></h3>
                        <p>
                          Investigar de forma individual el siguiente concepto,
                          PATRONES DE DISEÑO, y crear una presentacion
                          PowerPoint.
                        </p>
                      </div>
                      <div class="d-flex justify-content-center">
                        <img
                          src="../../assets/ppticon.svg"
                          width="250"
                          height="205"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="divdetalle float-left p-1">
                  <div class="d-block justify-content-center">
                    <div class="card bg-light">
                      <div class="card-body">
                        <h2>Evaluacion al Equipo ALFA</h2>
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Nombre</th>
                              <th scope="col">Puntaje</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>Alvaro</td>
                              <td>9</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Erick</td>
                              <td>
                                <input
                                  type="number"
                                  class="form-control col-3"
                                  value="7"
                                />
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>David</td>
                              <td>7</td>
                            </tr>
                            <tr>
                              <th scope="row">4</th>
                              <td>Luis</td>
                              <td>5</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="nav-profile"
        role="tabpanel"
        aria-labelledby="nav-profile-tab"
      >
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOneGroup">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseOneGroup"
                  aria-expanded="true"
                  aria-controls="collapseOneGroup"
                >
                  Equipo ALFA
                </button>
              </h2>
            </div>

            <div
              id="collapseOneGroup"
              class="collapse"
              aria-labelledby="headingOneGroup"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <div class="divdetalle float-left p-1">
                  <div class="d-block justify-content-center">
                    <div class="card bg-light">
                      <div class="card-body">
                        <h2>Patrones de Diseño</h2>

                        <h3 class="card-title"></h3>
                        <p class="card-text"><strong>Equipo ALFA</strong></p>
                        <p>
                          Investigar de forma individual el siguiente concepto,
                          PATRONES DE DISEÑO, y crear una presentacion
                          PowerPoint.
                        </p>
                      </div>
                      <div class="d-flex justify-content-center">
                        <img
                          src="../../assets/ppticon.svg"
                          width="250"
                          height="210"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="divdetalle float-left p-1">
                  <div class="d-block justify-content-center">
                    <div class="card bg-light">
                      <div class="card-body">
                        <h2>Evaluacion al Equipo ALFA</h2>
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Nombre</th>
                              <th scope="col">Puntaje</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>David</td>
                              <td>8</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Alvaro</td>
                              <td>9</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>Erick</td>
                              <td>
                                <input
                                  type="number"
                                  class="form-control col-3"
                                  value="7"
                                />
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">4</th>
                              <td>Roman</td>
                              <td>7</td>
                            </tr>
                            <tr>
                              <th scope="row">5</th>
                              <td>Luis</td>
                              <td>5</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwoGroup">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTwoGroup"
                  aria-expanded="false"
                  aria-controls="collapseTwoGroup"
                >
                  Equipo EPSILON
                </button>
              </h2>
            </div>
            <div
              id="collapseTwoGroup"
              class="collapse"
              aria-labelledby="headingTwoGroup"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <div class="divdetalle float-left p-1">
                  <div class="d-block justify-content-center">
                    <div class="card bg-light">
                      <div class="card-body">
                        <h2>Patrones de Diseño</h2>

                        <h3 class="card-title"></h3>
                        <p class="card-text"><strong>Equipo EPSILON</strong></p>
                        <p>
                          Investigar de forma individual el siguiente concepto,
                          PATRONES DE DISEÑO, y crear una presentacion
                          PowerPoint.
                        </p>
                      </div>
                      <div class="d-flex justify-content-center">
                        <img
                          src="../../assets/ppticon.svg"
                          width="250"
                          height="210"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="divdetalle float-left p-1">
                  <div class="d-block justify-content-center">
                    <div class="card bg-light">
                      <div class="card-body">
                        <h2>Evaluacion al Equipo EPSILON</h2>
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Nombre</th>
                              <th scope="col">Puntaje</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>David</td>
                              <td>8</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Alvaro</td>
                              <td>9</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>Erick</td>
                              <td>
                                <input
                                  type="number"
                                  class="form-control col-3"
                                  value="7"
                                />
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">4</th>
                              <td>Roman</td>
                              <td>7</td>
                            </tr>
                            <tr>
                              <th scope="row">5</th>
                              <td>Luis</td>
                              <td>5</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThreeGroup">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThreeGroup"
                  aria-expanded="false"
                  aria-controls="collapseThreeGroup"
                >
                  Equipo IOTA
                </button>
              </h2>
            </div>
            <div
              id="collapseThreeGroup"
              class="collapse"
              aria-labelledby="headingThreeGroup"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <div class="divdetalle float-left p-1">
                  <div class="d-block justify-content-center">
                    <div class="card bg-light">
                      <div class="card-body">
                        <h2>Patrones de Diseño</h2>

                        <h3 class="card-title"></h3>
                        <p class="card-text"><strong>Equipo IOTA</strong></p>
                        <p>
                          Investigar de forma individual el siguiente concepto,
                          PATRONES DE DISEÑO, y crear una presentacion
                          PowerPoint.
                        </p>
                      </div>
                      <div class="d-flex justify-content-center">
                        <img
                          src="../../assets/ppticon.svg"
                          width="250"
                          height="210"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="divdetalle float-left p-1">
                  <div class="d-block justify-content-center">
                    <div class="card bg-light">
                      <div class="card-body">
                        <h2>Evaluacion al Equipo IOTA</h2>
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Nombre</th>
                              <th scope="col">Puntaje</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>David</td>
                              <td>8</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Alvaro</td>
                              <td>9</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>Erick</td>
                              <td>
                                <input
                                  type="number"
                                  class="form-control col-3"
                                  value="7"
                                />
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">4</th>
                              <td>Roman</td>
                              <td>7</td>
                            </tr>
                            <tr>
                              <th scope="row">5</th>
                              <td>Luis</td>
                              <td>5</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->

  <!--Modal Crear Pasantia-->
  <!-- Modal -->

  <!--Fin Modal Crear Pasantia-->
</div>
